#page {
    background: linear-gradient(to top, #c6c1ea, #f7f2ec);
    min-height: 100vh;
  }

  #componentcolor {
    background-color: #f7f2ec;
  }

  #textbasefont {
    font-family: Helvetica, Arial, sans-serif;
  }

  #carouselimage {
    max-height: 100vh;
  }